/* ./src/styles/Layout.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2196F3;
    color: #ffffff;
    padding: 1em;
    text-align: center;
}

h1 {
    text-align: center;
}

.sidebar {
    width: 180px;
    background-color: #34495e;
    color: #ecf0f1;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.5s ease;
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.toggle-icon {
    font-size: 24px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu-item {
    margin-bottom: 10px;
}

.sidebar-menu-item a {
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
}

.sidebar-menu-item a:hover {
    color: #f39c12;
}

.sidebar-menu.collapsed {
    display: none;
}

.sidebar-menu-item a::before {
    content: '\2022';
    margin-right: 10px;
    color: #ffffff;
}


.hero-section {
    /* background-image: url('../../src/assets/images/edp.png'); */
    background-color: #333333;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero-content {
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .cta-buttons {
    margin-top: 20px;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  