.sidebar {
    width: 180px;
    background-color: #ffffff; 
    color: #000000;
    padding: 20px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.5s ease;
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar-header {
    color: #355738;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.toggle-icon {
    font-size: 24px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.sidebar-menu {
    list-style: none; /* Remove the bullets */
    padding: 0;
}

.sidebar-menu-item {
    margin-bottom: 10px;
    list-style: none;
}

.sidebar-menu-item a {
    color: #355738; 
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
}

.sidebar-menu-item a:hover {
    color: #000000;
}

.sidebar-menu.collapsed {
    display: none;
}

.sidebar-menu-item a::before {
    content: ''; /* Remove the bullets */
    margin-right: 10px;
    color: #e6f1d639;
}