body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

h1 {
  text-align: center;
}

.todo-container {
  max-width:650px;
  margin: 0 auto;
  padding: 20px;
}


.task-input {
  width: calc(95% - 80px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
}

.add-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #0275d8;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0275d8;
}

.tasks-lists-container {
  display: flex;
  justify-content: space-between;
}

.task-names {
  text-align: left;
  flex: 1;
  background-color: #333;
  color: white;
  padding: 10px;
}

.task-actions {
  text-align: center;
  flex: 1;
  background-color: #333;
  color: white;
  padding: 10px;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

li:hover {
  background-color: #e0e0e0;
}

.edit-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f0ad4e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #f0ad4e;
}

.delete-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d9534f;
}